@import "typograpie";

// Variabeln für Farben
$main-color: #A8FF7B;
$sec-color: #68E428;
$com-main-color: #CC734E;
$com-sec-color: #B26B4D;

header, body, {
	margin: 0;
}




header {
	
	h1{
	color: white;
	width: 7em;
	margin:  0 auto;
	padding: 10px 0 0 0;
	}
	background-color: $main-color;

	ul{
	list-style-type:none;
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;

		li{
			flex-basis: auto;
			width: 25%;
			text-align: center;
			


		}
	}

	a{
	text-decoration: none;
	

	}
	.trees {
		
		

		
		ul  li {
			
			height: 130px;
			background-image: url("/images/tree-long.png");
			background-repeat: no-repeat;
		}

		li:first-child {
			background-position: -18px -25px;
			}

		li:nth-child(2) {
			background-position: -200px -25px;
		}

		li:nth-child(3){
			background-position: -400px -25px;
		}

		li:last-child{
			background-position: -600px -25px;
		}

		

		




		}

			
		
		
		
	}

a:hover {
	background-color:blue;
}

 