h1 {
  font-family: "Merriweather", serif;
  font-weight: 400; }

em {
  font-family: "Open Sans", sans-serif;
  font-style: inherit; }

body, header, main {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3em;
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1.25em; }

small, .font_small {
  font-size: 0.8em; }

li {
  line-height: 1.8em; }

/*--------------------------------------------------------------------------------

---------------------------------------------------------------------------------*/
body, html {
  margin: 0px;
  padding: 0px; }

header {
  background: linear-gradient(#e7f1f1, #24a19b);
  width: 100%; }

h1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  color: #a8161b; }

.logo {
  background-image: url("../images/niki-test2.svg");
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-color: white;
  background-position: 30px 10px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px; }

nav {
  background-color: #24a19b;
  padding: 0px 20%; }
  nav ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
    nav ul a:link {
      color: white;
      text-decoration: none; }
    nav ul .focus {
      border-bottom: 5px solid #a8161b; }
    nav ul li:hover {
      -webkit-animation-name: borderbottom;
              animation-name: borderbottom;
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
    nav ul li {
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      font-size: 1.2em;
      width: 200px;
      text-align: center;
      line-height: 2em;
      height: 2em; }

@-webkit-keyframes borderbottom {
  0% {
    border-bottom: 5px solid #24a19b; }
  50% {
    border-bottom: 5px solid #a8161b; }
  100% {
    border-bottom: 5px solid #24a19b; } }

@keyframes borderbottom {
  0% {
    border-bottom: 5px solid #24a19b; }
  50% {
    border-bottom: 5px solid #a8161b; }
  100% {
    border-bottom: 5px solid #24a19b; } }

.index {
  width: 90%;
  margin: 0 auto;
  height: 400px; }
  .index H3 {
    color: #a8161b; }
  .index .text-one {
    float: left;
    width: 55%; }
  .index .text-two {
    float: right;
    width: 35%;
    background-color: #a8161b;
    color: white;
    text-align: center;
    border: 10px solid white;
    opacity: 0.6; }
  .index adress a {
    color: white; }
  .index .data {
    font-size: small; }
  .index .post {
    border-bottom: 2px solid #24a19b; }
  .index .post:last-child {
    border-bottom: none; }

.Angebot {
  width: 90%;
  margin: 0 auto;
  padding: 10px 10px;
  background-color: rgba(140, 115, 115, 0.1); }
  .Angebot div {
    width: 70%;
    margin-bottom: 20px; }
  .Angebot H3 {
    color: #a8161b;
    font-size: 2em; }
  .Angebot .angebot1 {
    float: left;
    width: 80%; }
    .Angebot .angebot1 li:last-child {
      list-style-type: none;
      background-color: white; }
  .Angebot .angebot2 {
    float: right;
    margin-top: 30px; }
  .Angebot .angebot3 {
    float: left;
    width: 80%;
    margin-top: 50px; }
    .Angebot .angebot3 li:last-child {
      list-style-type: none;
      background-color: white; }
  .Angebot .angebot4 {
    float: right;
    margin-top: 20px; }
  .Angebot img {
    width: 20%;
    height: x;
    border-radius: 180px;
    clear: right;
    min-width: 200px; }

.team {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .team img {
    float: left;
    margin: 10px;
    margin-right: 40px; }
  .team h3 {
    text-align: center;
    border: 1px solid black;
    background-color: #3d7370;
    height: 3em;
    line-height: 3em;
    color: white;
    margin-top: 0px; }
  .team div {
    width: 40%;
    min-width: 720px;
    border: 3px solid black;
    margin: 40px;
    background-color: rgba(140, 115, 115, 0.1); }
  .team img {
    width: 200px;
    height: 200px; }
  .team span {
    font-weight: 700;
    line-height: 2em; }
  .team p {
    margin-top: 30px; }

footer {
  clear: both;
  background-color: #ebd9cc;
  margin-bottom: 0px;
  padding: 2em;
  height: 200px; }
  footer li {
    text-decoration: none; }
    footer li a:link {
      text-decoration: none;
      color: #7c5b4a; }
  footer ul {
    list-style-type: none;
    text-indent: -35px; }
  footer div:first-child {
    float: left;
    width: 30%;
    margin-left: 10%; }
  footer div:last-child {
    float: left;
    width: 30%;
    margin-left: 10%; }
  footer .focus a:link {
    color: #24a19b; }

/*-------------------------------------------------------
Kontakt
---------------------------------------------------------*/
iframe {
  width: 50%;
  height: 500px; }

.main2 {
  margin: 20px 0; }
  .main2 h2 {
    margin-top: 0; }

.kontakformular {
  float: right;
  width: 45%;
  height: 500px;
  background-color: rgba(140, 115, 115, 0.1);
  padding: 0 20px; }

adress a {
  color: black; }

/*--------------------------------------------------
MediaQueris
-----------------------------------------------*/
@media only screen and (max-width: 1710 px) {
  .angebot {
    width: 100%; }
  * {
    border: 1px solid green; } }
