body, h1, header {
  font-family: "open sans", "";
  font-weight: 400;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3em;
  font-family: "Open Sans"; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  font-family: "acumin-pro"; }

h1 {
  margin-top: 0;
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

small, .font_small {
  font-size: 0.8em; }

header {
  background: linear-gradient(#e7f1f1, #24a19b);
  width: 100%; }
  header p {
    color: white;
    width: 200px;
    margin: 0 auto; }
  header h1 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    color: #944b35; }

body, html {
  margin: 0px;
  padding: 0px; }

.logo {
  background-image: url("../images/niki-test2.svg");
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-color: white;
  background-position: 30px 10px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px; }

nav {
  width: 100%;
  padding-top: 20px;
  background-color: #24a19b; }
  nav ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    list-style-type: none;
    width: 100%;
    padding: 10px 0px;
    color: white; }
    nav ul a:link {
      color: white;
      text-decoration: none; }

main {
  width: 90%;
  margin: 0 auto; }
  main H3 {
    color: #944b35; }
  main .text-one {
    float: left;
    width: 60%; }
  main .text-two {
    float: right;
    width: 30%; }
